:root {
  // colors
  --rimac-red: #ef3340;
  --rimac-checked: #83cc5e;
  --rimac-tyc: #a3abcc;
  --rimac-title: #494f66;
  --rimac-text: #676f8f;
  --rimac-card: #f0f2fa;
  // sizings
  --spacing: 8px;
  --full-width: 1240px;
  --side: calc(var(--spacing) * 4);
}
