.not-found {
  max-width: calc(var(--spacing) * 60);
  width: 100%;

  h2 {
    color: var(--rimac-title);
  }

  img {
    bottom: calc(var(--spacing) * -1);
    height: calc(var(--spacing) * 18.125);
    position: relative;
    right: 0;
    width: calc(var(--spacing) * 15.25);
    z-index: 1;
  }
}
