.step-1 {
  max-width: calc(var(--spacing) * 36);
  width: 100%;

  h5 {
    font-weight: 300;

    span {
      color: var(--rimac-red);
      font-weight: 600;
    }
  }

  p {
    font-weight: 300;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .mui-select {
    max-width: calc(var(--spacing) * 10.5);
    width: 100%;
  }

  .mui-checkbox {
    & + span {
      color: var(--rimac-tyc);
      font-size: calc(var(--spacing) * 1.5);
      font-weight: 300;
    }
  }
}
